extends ../includes/layout

block content
    link(rel='stylesheet', href='/css/settings.css')
    include ../includes/navbar

    div.container
        div.row
            div.col.s12
                div.col.s6
                    div.col.s12.m12
                        div.card-panel
                            span zofkzpoefkzpoefkzpoefkzpoefkzpeofkzoefkzeofkzef
                div.col.s6
                    div.col.s12.m12
                        div.card-panel
                            h4 My Profile
                                div.row
                                    div.col.s7.push-s5
                                        label Your Name
                                        input.validate(type="text" name="username" value=user.name )
                                    div.col.s5.pull-s7
                                        img.pp(src=user.picture alt="profilePicture")
                                div.row
                                    div.col.s12
                                        label Bio
                                        textarea.materialize-textarea.validate(name="bio" value=user.bio)
                                div.row
                                    form(method='PATCH' action='/user/:userId' enctype="x-www-form-urlencoded")
                                        div.col.s8
                                            label(for="email") E-mail Address
                                            input#email.validate(type="text" name="email" value=user.email)
                                        div.col.s4
                                            button.btn.waves-effect.waves-light(type="submit" name="action") Change
                                div.row
                                    form(method='PATCH' action='/user/:userId' enctype="x-www-form-urlencoded")
                                        div.col.s8
                                            label(for="password") Password
                                            input#password.validate(type="password" name="password" value=user.password)
                                        div.col.s4
                                            button.btn.waves-effect.waves-light(type="submit" name="action") Change
                    div.col.s12.m12
                        div.card-panel
                            span fzefzefzefzefzefzefzef